In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly as px
import plotly.express as pxx
import geopandas as gpd
import matplotlib as plt
import uuid

In [2]:
df= pd.read_excel (r'C:\Users\sachi\Downloads\DRE\DRE Dashboard .xlsx')
gdf= gpd.read_file('Jharkhand.geojson')

In [3]:
slrtopdf= pd.read_excel(r'C:\Users\sachi\Downloads\DRE\DRE Dashboard .xlsx',sheet_name=0)

In [4]:
MGSSdf= pd.read_excel(r'C:\Users\sachi\Downloads\DRE\DRE Dashboard .xlsx',sheet_name=1)

In [5]:
Slrpmpdf= pd.read_excel(r'C:\Users\sachi\Downloads\DRE\DRE Dashboard .xlsx',sheet_name=2)

In [6]:
Sgmpdf= pd.read_excel(r'C:\Users\sachi\Downloads\DRE\DRE Dashboard .xlsx',sheet_name=3)

# --------------------------Data frames---------------------------------

In [90]:
slrtopdf['District'] = slrtopdf['District'].str.strip()

In [91]:
 slrtopdf.head()

,Serial no.,District,Block,Location,Financial Year,Phase,Ownership,Implementing Agency,Implementation Year,Capacity(In KWp),GPS Coordinates
0,1.0,Bokaro,Bermo,"Community Health Centre, Bermo, Bokaro",FY 15-16,Phase 1 (NIB 07),Government,M/s Communication & system engineering pvt ltd,2015-2016,20.0,NaN
1,2.0,Bokaro,Bermo,"Dhori Mata Church, Bermo, Bokaro",FY 15-16,Phase 1 (NIB 07),Government,M/s Communication & system engineering pvt ltd,2015-2016,5.0,NaN
2,3.0,Bokaro,Bokaro,"Referral Hospital, Jainamore, Bokaro",FY 15-16,Phase 1 (NIB 07),Government,M/s Communication & system engineering pvt ltd,2015-2016,10.0,NaN
3,4.0,Bokaro,Bermo,"Sub-Divisional Hospital, Bermo, Bokaro",FY 15-16,Phase 1 (NIB 07),Government,M/s Communication & system engineering pvt ltd,50/2015-2016 dated 15/01/2016,20.0,NaN
4,5.0,Bokaro,Bokaro,"Sadar Hospital,Bokaro",FY 15-16,Phase 1 (NIB 07),Government,M/s Abhishek Solar Pvt Ltd,14/2016-17 dated 09/07/2016,125.0,NaN

In [92]:
slrtopdf.groupby(['District'])['District'].size()

District
Bokaro                 106
Chatra                 109
Deoghar                 48
Dhanbad                 69
Dumka                   82
Garhwa                  80
Giridih                104
Godda                   60
Gumla                   67
Hazaribag               82
Jamtara                 62
Khunti                  33
Kodarma                 39
Latehar                 50
Lohardaga               36
Pakur                   39
Palamu                 112
Pashchimi Singhbhum     81
Ramgarh                 50
Ranchi                 216
Sahibganj               64
Saraikela-Kharsawan     60
Simdega                 59
purba Singhbhum         91
Name: District, dtype: int64

In [8]:
Slrpmpdf.head()

,S.no,District,Financial Year & Scheme,Nos. of SWPs Installed,Financial Year & Scheme .1,Nos. of SWPs Installed.1,Financial Year & Scheme .2,Nos. of SWPs Installed.2,Districtwise Solar pumps Installed (Till now )
0,1.0,Bokaro,Phase-I / 2016-17,5.0,Phase-II / 2018-19,0,PM Kusum-B/2021-22,200.0,205.0
1,2.0,Chatra,Phase-I / 2016-17,41.0,Phase-II / 2018-19,0,PM Kusum-B/2021-22,300.0,341.0
2,3.0,Deoghar,Phase-I / 2016-17,0.0,Phase-II / 2018-19,0,PM Kusum-B/2021-22,133.0,133.0
3,4.0,Dhanbad,Phase-I / 2016-17,0.0,Phase-II / 2018-19,0,PM Kusum-B/2021-22,270.0,270.0
4,5.0,Dumka,Phase-I / 2016-17,1.0,Phase-II / 2018-19,0,PM Kusum-B/2021-22,229.0,230.0

In [9]:
Sgmpdf.head()

,S.no,District,Scheme Name,Phase/ FY,Ownership,Capacity (kWp),GPS Coordinates
0,1,Purba Singhbhum,JNNSM,2017,Tata Power Trading Company,3000,NaN
1,2,Deoghar,JNNSM,2012,Enertech Engineering Pvt. Ltd.,2000,NaN
2,3,Deoghar,JNNSM,2012,PCS Premier Energy,2000,NaN
3,4,Deoghar,JNNSM,2012,KVR Construction,2000,NaN
4,5,Deoghar,JNNSM,2012,AKR Constructin,2000,NaN

In [10]:
MGSSdf.head()

,S.no,District,Block,Village Name,Financial Year,Scheme Name,Ownership,Number of Household,Capacity,Mode,GPS Coordinates,Implementing Agency,Installation Year
0,1,Sahibganj,Pathna,UrsaPahad,FY 2021-22,Jharkand Rural electrification programme,Government,125,30.0,Mini grid,NaN,NaN,NaN
1,2,Sahibganj,Barhet,Dulmi,FY 2021-22,Jharkand Rural electrification programme,Government,240,73.0,Mini grid,NaN,NaN,NaN
2,3,Sahibganj,Barhet,Mahua Thand,FY 2021-22,Jharkand Rural electrification programme,Government,133,35.0,Mini grid,NaN,NaN,NaN
3,4,Sahibganj,Barhet,Hiranpur,FY 2021-22,Jharkand Rural electrification programme,Government,145,35.0,Mini grid,NaN,NaN,NaN
4,5,Sahibganj,Pathna,Chapel Pahar,FY 2021-22,Jharkand Rural electrification programme,Government,92,23.0,Mini grid,NaN,NaN,NaN

# ------------------------------------------Value Counts-------------------------------------------------

In [85]:
 slrtopdf.groupby(['District'])['District'].size()

District
 Bokaro                 13
 Chatra                 13
Bokaro                  93
Chatra                  96
Deoghar                 48
Dhanbad                 69
Dumka                   82
Garhwa                  80
Giridih                104
Godda                   60
Gumla                   67
Hazaribag               82
Jamtara                 62
Khunti                  33
Kodarma                 39
Latehar                 46
Latehar                  4
Lohardaga               36
Pakur                   39
Palamu                 112
Pashchimi Singhbhum     81
Ramgarh                 50
Ranchi                 216
Sahibganj               64
Saraikela-Kharsawan     60
Simdega                 59
purba Singhbhum         91
Name: District, dtype: int64

In [11]:
Slrtop_counts = slrtopdf['District'].value_counts()
Slrtop_counts

Ranchi                 216
Palamu                 112
Giridih                104
Chatra                  96
Bokaro                  93
purba Singhbhum         91
Dumka                   82
Hazaribag               82
Pashchimi Singhbhum     81
Garhwa                  80
Dhanbad                 69
Gumla                   67
Sahibganj               64
Jamtara                 62
Godda                   60
Saraikela-Kharsawan     60
Simdega                 59
Ramgarh                 50
Deoghar                 48
Latehar                 46
Pakur                   39
Kodarma                 39
Lohardaga               36
Khunti                  33
 Bokaro                 13
 Chatra                 13
Latehar                  4
Name: District, dtype: int64

In [12]:
MGSSdf_counts = MGSSdf['District'].value_counts()
print(MGSSdf_counts)

Sahibganj              170
Chatra                 143
Godda                  122
Purba Singhbhum         96
Pakur                   86
Hazaribag               59
Gumla                   29
Simdega                 15
pashchimi Singhbhum     14
Bokaro                  12
Latehar                  7
Saraikela-Kharsawan      6
Khunti                   5
Giridih                  2
Name: District, dtype: int64

In [13]:
#Slrpmpdf_counts = Slrpmpdf['Districtwise Solar pumps Installed (Till now )'].value_counts()
Slrpmpdf_count = Slrpmpdf.iloc[0:24,[1,8]]

In [14]:
Slrpmpdf_count = Slrpmpdf_count.rename(columns= {'Districtwise Solar pumps Installed (Till now )':'Solrpmp_count'})

In [15]:
Slrpmpdf_count.head()

  District  Districtwise Solar pumps Installed (Till now )
0   Bokaro                                            205.0
1   Chatra                                            341.0
2  Deoghar                                            133.0
3  Dhanbad                                            270.0
4    Dumka                                            230.0

# --------------------------MGSS COUNT-----------------------

In [16]:
# Sgmpdf_counts = Sgmpdf['District'].value_counts()
#Sgmpdf_counts

In [17]:
#df_counts = pd.concat([Slrtop_counts, MGSSdf_counts, Slrpmpdf_counts, Sgmpdf_counts], axis=1, keys=['Slrtop_counts', 'MGSSdf_counts', 'Slrpmpdf_counts', 'Sgmpdf_counts'])
#df_counts

In [18]:
MGSSdf_counts= MGSSdf_counts.reset_index()

In [19]:
MGSSdf_counts= MGSSdf_counts.rename(columns= { 'index' :'Dist_name','District':'MGSSDFCounts'})

In [20]:
MGSSdf_counts = pd.DataFrame(MGSSdf_counts)

In [21]:
MGSSdf_counts.head()

         Dist_name  MGSSDFCounts
0        Sahibganj           170
1           Chatra           143
2            Godda           122
3  Purba Singhbhum            96
4            Pakur            86

# -----------------------SOLARROOFTOP COUNTS---------------------------------------

In [22]:
Slrtop_counts = pd.DataFrame(Slrtop_counts)

In [23]:
Slrtop_counts.head()

         District
Ranchi        216
Palamu        112
Giridih       104
Chatra         96
Bokaro         93

In [24]:
Slrtop_counts= Slrtop_counts.reset_index()

In [25]:
Slrtop_counts.head()

     index  District
0   Ranchi       216
1   Palamu       112
2  Giridih       104
3   Chatra        96
4   Bokaro        93

In [26]:
Slrtop_counts= Slrtop_counts.rename(columns= {'index' :'Dist_Name','District':'Slrtop_counts'})

In [27]:
Slrtop_counts.head()

  Dist_Name  Slrtop_counts
0    Ranchi            216
1    Palamu            112
2   Giridih            104
3    Chatra             96
4    Bokaro             93

In [28]:
Slrtop_counts = pd.DataFrame(Slrtop_counts)

In [29]:
Slrtop_counts.head()

  Dist_Name  Slrtop_counts
0    Ranchi            216
1    Palamu            112
2   Giridih            104
3    Chatra             96
4    Bokaro             93

# -------------------------------Solarpmpcounts-------------------------------------

In [30]:
Slrpmpdf_counts=Slrpmpdf.iloc[0:24,[1,8]]

In [31]:
Slrpmpdf_counts

               District  Districtwise Solar pumps Installed (Till now )
0                Bokaro                                            205.0
1                Chatra                                            341.0
2               Deoghar                                            133.0
3               Dhanbad                                            270.0
4                 Dumka                                            230.0
5       Purba Singhbhum                                            386.0
6                Garhwa                                             80.0
7               Giridih                                            621.0
8                 Godda                                            417.0
9                 Gumla                                            244.0
10            Hazaribag                                            839.0
11              Jamtara                                              0.0
12               Khunti                                            799.0
13              Koderma                                            350.0
14              Latehar                                            161.0
15            Lohardaga                                            152.0
16                Pakur                                              0.0
17               Palamu                                            378.0
18              Ramgarh                                            215.0
19               Ranchi                                            395.0
20            Sahibganj                                            171.0
21  Saraikela-Kharsawan                                            282.0
22              Simdega                                           1057.0
23  Pashchimi Singhbhum                                            640.0

In [32]:
Slrpmpdf_counts.head()

  District  Districtwise Solar pumps Installed (Till now )
0   Bokaro                                            205.0
1   Chatra                                            341.0
2  Deoghar                                            133.0
3  Dhanbad                                            270.0
4    Dumka                                            230.0

In [33]:
Slrpmpdf_counts= Slrpmpdf_counts.rename(columns={'District':'Dist_Name'})

In [34]:
Slrpmpdf_counts =  pd.DataFrame(Slrpmpdf_counts)

In [35]:
Slrpmpdf_counts

              Dist_Name  Districtwise Solar pumps Installed (Till now )
0                Bokaro                                            205.0
1                Chatra                                            341.0
2               Deoghar                                            133.0
3               Dhanbad                                            270.0
4                 Dumka                                            230.0
5       Purba Singhbhum                                            386.0
6                Garhwa                                             80.0
7               Giridih                                            621.0
8                 Godda                                            417.0
9                 Gumla                                            244.0
10            Hazaribag                                            839.0
11              Jamtara                                              0.0
12               Khunti                                            799.0
13              Koderma                                            350.0
14              Latehar                                            161.0
15            Lohardaga                                            152.0
16                Pakur                                              0.0
17               Palamu                                            378.0
18              Ramgarh                                            215.0
19               Ranchi                                            395.0
20            Sahibganj                                            171.0
21  Saraikela-Kharsawan                                            282.0
22              Simdega                                           1057.0
23  Pashchimi Singhbhum                                            640.0

# ----------------------------------------Sgmp counts--------------------------------

In [36]:
Sgmpdf_counts=  pd.DataFrame(Sgmpdf)

In [37]:
Sgmpdf_counts.head()

,S.no,District,Scheme Name,Phase/ FY,Ownership,Capacity (kWp),GPS Coordinates
0,1,Purba Singhbhum,JNNSM,2017,Tata Power Trading Company,3000,NaN
1,2,Deoghar,JNNSM,2012,Enertech Engineering Pvt. Ltd.,2000,NaN
2,3,Deoghar,JNNSM,2012,PCS Premier Energy,2000,NaN
3,4,Deoghar,JNNSM,2012,KVR Construction,2000,NaN
4,5,Deoghar,JNNSM,2012,AKR Constructin,2000,NaN

In [38]:
Sgmpdf_counts = Sgmpdf.iloc[0:9,[1,5]]

In [39]:
Sgmpdf_counts =Sgmpdf_counts.rename(columns= {'District':'Dist_Name','Capacity (kWp)':'Solarpump_capacity'})

In [40]:
Sgmpdf_counts.head()

         Dist_Name  Solarpump_capacity
0  Purba Singhbhum                3000
1          Deoghar                2000
2          Deoghar                2000
3          Deoghar                2000
4          Deoghar                2000

# ----------------------------Concatenting datasets(df-counts)-------------

In [79]:
Sgmpdf_counts

              Dist_Name  Solarpump_capacity
0       Purba Singhbhum                3000
1               Deoghar                2000
2               Deoghar                2000
3               Deoghar                2000
4               Deoghar                2000
5               Deoghar                2000
6               Deoghar                2000
7               Deoghar                2000
8  Saraikela-Kharsawan                 2000

In [77]:
df_counts = Sgmpdf_counts.merge(MGSSdf_counts,on='Dist_Name')

KeyError: 'Dist_Name'

In [70]:
df_counts

                      D                                  i                     \
              Dist_name MGSSDFCounts             Dist_Name Solarpump_capacity
0             Sahibganj        170.0       Purba Singhbhum             3000.0
1                Chatra        143.0               Deoghar             2000.0
2                 Godda        122.0               Deoghar             2000.0
3       Purba Singhbhum         96.0               Deoghar             2000.0
4                 Pakur         86.0               Deoghar             2000.0
5             Hazaribag         59.0               Deoghar             2000.0
6                 Gumla         29.0               Deoghar             2000.0
7               Simdega         15.0               Deoghar             2000.0
8   pashchimi Singhbhum         14.0  Saraikela-Kharsawan              2000.0
9                Bokaro         12.0                   NaN                NaN
10              Latehar          7.0                   NaN                NaN
11  Saraikela-Kharsawan          6.0                   NaN                NaN
12               Khunti          5.0                   NaN                NaN
13              Giridih          2.0                   NaN                NaN
14                  NaN          NaN                   NaN                NaN
15                  NaN          NaN                   NaN                NaN
16                  NaN          NaN                   NaN                NaN
17                  NaN          NaN                   NaN                NaN
18                  NaN          NaN                   NaN                NaN
19                  NaN          NaN                   NaN                NaN
20                  NaN          NaN                   NaN                NaN
21                  NaN          NaN                   NaN                NaN
22                  NaN          NaN                   NaN                NaN
23                  NaN          NaN                   NaN                NaN
24                  NaN          NaN                   NaN                NaN
25                  NaN          NaN                   NaN                NaN
26                  NaN          NaN                   NaN                NaN

                      s                                                  \
              Dist_Name Districtwise Solar pumps Installed (Till now )
0                Bokaro                                           205.0
1                Chatra                                           341.0
2               Deoghar                                           133.0
3               Dhanbad                                           270.0
4                 Dumka                                           230.0
5       Purba Singhbhum                                           386.0
6                Garhwa                                            80.0
7               Giridih                                           621.0
8                 Godda                                           417.0
9                 Gumla                                           244.0
10            Hazaribag                                           839.0
11              Jamtara                                             0.0
12               Khunti                                           799.0
13              Koderma                                           350.0
14              Latehar                                           161.0
15            Lohardaga                                           152.0
16                Pakur                                             0.0
17               Palamu                                           378.0
18              Ramgarh                                           215.0
19               Ranchi                                           395.0
20            Sahibganj                                           171.0
21  Saraikela-Kharsawan                                           282.0
22              Simdega                                          1057.0
23  Pashchimi Singhbhum                                           640.0
24                  NaN                                             NaN
25                  NaN                                             NaN
26                  NaN                                             NaN

                      t
              Dist_Name Slrtop_counts
0                Ranchi           216
1                Palamu           112
2               Giridih           104
3                Chatra            96
4                Bokaro            93
5       purba Singhbhum            91
6                 Dumka            82
7             Hazaribag            82
8   Pashchimi Singhbhum            81
9                Garhwa            80
10              Dhanbad            69
11                Gumla            67
12            Sahibganj            64
13              Jamtara            62
14                Godda            60
15  Saraikela-Kharsawan            60
16              Simdega            59
17              Ramgarh            50
18              Deoghar            48
19              Latehar            46
20                Pakur            39
21              Kodarma            39
22            Lohardaga            36
23               Khunti            33
24               Bokaro            13
25               Chatra            13
26             Latehar              4

In [43]:
#unique_ids = [str(uuid.uuid4()) for i in range(len(df_counts))]

In [44]:
#df_counts['UniqueID'] = unique_ids

In [45]:
df_counts

             Dist_name  MGSSDFCounts  Solarpump_capacity
0            Sahibganj           170                3000
1               Chatra           143                2000
2                Godda           122                2000
3      Purba Singhbhum            96                2000
4                Pakur            86                2000
5            Hazaribag            59                2000
6                Gumla            29                2000
7              Simdega            15                2000
8  pashchimi Singhbhum            14                2000

# ------------------------------------capacity count------------------------------------

In [46]:
df_capMGSS = MGSSdf.groupby('District')['Capacity'].aggregate('sum')

In [47]:
df_capslrtop = slrtopdf.groupby('District')['Capacity(In KWp)'].aggregate('sum')

In [48]:
df_capSgmp = Sgmpdf.groupby('District')['Capacity (kWp)'].aggregate('sum')

In [49]:
df_capMGSS

District
Bokaro                    6.0
Chatra                 2398.8
Giridih                  19.6
Godda                   624.0
Gumla                   458.8
Hazaribag               297.8
Khunti                   48.0
Latehar                  78.8
Pakur                   378.0
Purba Singhbhum        1277.0
Sahibganj              1200.4
Saraikela-Kharsawan     178.8
Simdega                 273.4
pashchimi Singhbhum      38.8
Name: Capacity, dtype: float64

In [50]:
df_capslrtop

District
 Bokaro                 216.0
 Chatra                  65.0
Bokaro                 1765.0
Chatra                 1446.0
Deoghar                 894.0
Dhanbad                1554.0
Dumka                  1710.0
Garhwa                 1138.0
Giridih                1743.0
Godda                  1025.0
Gumla                  1135.0
Hazaribag              1952.0
Jamtara                 881.0
Khunti                  691.0
Kodarma                 726.0
Latehar                 747.0
Latehar                  16.0
Lohardaga               545.0
Pakur                   711.0
Palamu                 1732.0
Pashchimi Singhbhum    1658.0
Ramgarh                 922.0
Ranchi                 6354.0
Sahibganj              1270.0
Saraikela-Kharsawan     924.0
Simdega                1091.0
purba Singhbhum        1563.0
Name: Capacity(In KWp), dtype: float64

In [51]:
df_capSgmp

District
Deoghar                 14000
Purba Singhbhum          3000
Saraikela-Kharsawan      2000
Name: Capacity (kWp), dtype: int64

In [52]:
df_capacity = pd.concat([df_capMGSS,df_capslrtop,df_capSgmp ], axis=1, keys=['MGSScapacity', 'slrtopCapacity', 'Sgmpcapacity'])
df_capacity

                      MGSScapacity  slrtopCapacity  Sgmpcapacity
Bokaro                         6.0          1765.0           NaN
Chatra                      2398.8          1446.0           NaN
Giridih                       19.6          1743.0           NaN
Godda                        624.0          1025.0           NaN
Gumla                        458.8          1135.0           NaN
Hazaribag                    297.8          1952.0           NaN
Khunti                        48.0           691.0           NaN
Latehar                       78.8           747.0           NaN
Pakur                        378.0           711.0           NaN
Purba Singhbhum             1277.0             NaN        3000.0
Sahibganj                   1200.4          1270.0           NaN
Saraikela-Kharsawan          178.8           924.0           NaN
Simdega                      273.4          1091.0           NaN
pashchimi Singhbhum           38.8             NaN           NaN
 Bokaro                        NaN           216.0           NaN
 Chatra                        NaN            65.0           NaN
Deoghar                        NaN           894.0       14000.0
Dhanbad                        NaN          1554.0           NaN
Dumka                          NaN          1710.0           NaN
Garhwa                         NaN          1138.0           NaN
Jamtara                        NaN           881.0           NaN
Kodarma                        NaN           726.0           NaN
Latehar                        NaN            16.0           NaN
Lohardaga                      NaN           545.0           NaN
Palamu                         NaN          1732.0           NaN
Pashchimi Singhbhum            NaN          1658.0           NaN
Ramgarh                        NaN           922.0           NaN
Ranchi                         NaN          6354.0           NaN
purba Singhbhum                NaN          1563.0           NaN
Saraikela-Kharsawan            NaN             NaN        2000.0

In [53]:
df_capacity= df_capacity.reset_index()

In [54]:
df_capacity = df_capacity.rename(columns= { 'index' :'Dist_Name'})

In [55]:
df_capacity

               Dist_Name  MGSScapacity  slrtopCapacity  Sgmpcapacity
0                 Bokaro           6.0          1765.0           NaN
1                 Chatra        2398.8          1446.0           NaN
2                Giridih          19.6          1743.0           NaN
3                  Godda         624.0          1025.0           NaN
4                  Gumla         458.8          1135.0           NaN
5              Hazaribag         297.8          1952.0           NaN
6                 Khunti          48.0           691.0           NaN
7                Latehar          78.8           747.0           NaN
8                  Pakur         378.0           711.0           NaN
9        Purba Singhbhum        1277.0             NaN        3000.0
10             Sahibganj        1200.4          1270.0           NaN
11   Saraikela-Kharsawan         178.8           924.0           NaN
12               Simdega         273.4          1091.0           NaN
13   pashchimi Singhbhum          38.8             NaN           NaN
14                Bokaro           NaN           216.0           NaN
15                Chatra           NaN            65.0           NaN
16               Deoghar           NaN           894.0       14000.0
17               Dhanbad           NaN          1554.0           NaN
18                 Dumka           NaN          1710.0           NaN
19                Garhwa           NaN          1138.0           NaN
20               Jamtara           NaN           881.0           NaN
21               Kodarma           NaN           726.0           NaN
22              Latehar            NaN            16.0           NaN
23             Lohardaga           NaN           545.0           NaN
24                Palamu           NaN          1732.0           NaN
25   Pashchimi Singhbhum           NaN          1658.0           NaN
26               Ramgarh           NaN           922.0           NaN
27                Ranchi           NaN          6354.0           NaN
28       purba Singhbhum           NaN          1563.0           NaN
29  Saraikela-Kharsawan            NaN             NaN        2000.0

In [56]:
# Merge the two data frames
merged_df = gdf.merge(df_counts, on='Dist_Name')

KeyError: 'Dist_Name'

In [ ]:
merged_df = merged_df.merge(df_capacity ,on= 'Dist_Name')

In [ ]:
merged_df

In [ ]:
merged_df.explore()

In [ ]:
merged_df.explore(
     column="Dist_Name", # make choropleth based on "BoroName" column
     tooltip="Dist_Name", # show "BoroName" value in tooltip (on hover)
     popup=True, # show all values in popup (on click)
     tiles="CartoDB positron", # use "CartoDB positron" tiles
     cmap="Set1", # use "Set1" matplotlib colormap
     style_kwds=dict(color="black") # use black outline
    )

In [ ]:
#merged = gdf.merge(, on='District')

# Plot the data on the map
#merged.plot(column='District', cmap='OrRd')

# Show the plot
#plt.show()

In [ ]:
# Create the Plotly Choropleth Map
#fig = pxx.choropleth_mapbox(df_counts, 
 ##                          locations='Slrtop_counts',
  #                         color='Slrtop_counts',
   #                        featureidkey="properties.Slrtop_counts",
   #                        hover_name='Slrtop_counts',
    #                       mapbox_style='carto-positron',center={'lat': 23.76, 'lon': 85.5},
   #                        
   #                        )

# Display the Plotly interactive map
fig.show()

In [ ]:
#pxx.set_mapbox_access_token(open(".mapbox_token").read())
#fig = px.scatter_mapbox(slrtopdf, lat="lat", lon="long", size="cnt", zoom=3)
#fig.update_traces(cluster=dict(enabled=True))
#fig.show()

In [ ]:
merged_df